// font-size
.fontsize-1{
    font-size: $alphaBetSize*3;
    line-height: 33px;
    font-weight: bold;
    font-family: 'Lato', 'Roboto Mono';
    font-weight: 900;
}

.fontsize-2{
    font-size: $alphaBetSize*2;
    line-height: $alphaBetSize*3;
    font-family: 'Lato', 'Roboto Mono';
    font-weight: 900 !important;
}

.fontsize-3{
    font-size: 14px;
    line-height: 21px;
    font-family: 'Lato', 'Roboto Mono';
    font-weight: bold;
}
.fontsize-4{
    font-size: 12px;
    line-height: 24px;
    font-family: 'Lato', 'Roboto Mono';
    font-weight: 300;
}
.email-fontsize{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', 'Roboto Mono';
    font-weight: 300;

}
.color-black{
    color: black !important;
}
.mb12{
    margin-bottom: 12px;
}
.mb26{
    margin-bottom: 26px
}
.mb32{
    margin-bottom: $unitLength*4;
}
.ml50{
    margin-left: 50px;
}
.mb44{
    margin-bottom: 44px ;
}
.padding-0{
    padding: 0px !important;
}
.padding-y-32{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.padding-y-12{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.border-fix{
    border-bottom: 1px solid #dee2e6;
}
.answer-logo{
    background-image: url('../images/logo-ANSWER.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 155px;
}
.logo{
    background-image: url('../images/andychen.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.logo-1{
    background-image: url('../images/emilywang.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.info{
    width: 90%;
}
.user{
    bottom: 32px;
    left: 32px;
}
.user-info{
    margin-left: 10px;
}
.h-800{
    height: 800px;
    padding: 32px;
}
.padding-0{
    padding-top: 0px;
    padding-bottom: 0px;
}

.arrow-down{
    display: none !important;
  }
.arrow-up{
    display: inline-block !important;
}

.collapsed{
    .arrow-down{
        display: inline-block !important;
    }
    .arrow-up {
        display: none !important;
    }
}
.nav-toggle-active{
    &::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
    }
  }
